.slack{
    padding: 10px 5px;
    background-color: #333;
    color: white;
}
.slack_button,.sign_in{
    justify-self: center;
}
.top_bar{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-top: 20px;
}

.sign_in_button{
    border-radius: 2px;
    padding: 10px,5px;
    color: white;
    background-color:#da1151;
}

.GO{
    border-radius: 0 !important;
}
