/* You can add global styles to this file, and also import other style files */
/* ***************BASIC SETUP****************** */
*{
    text-decoration: none;
}
body{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* ***************SLACK BUTTON ********************* */
/* .slack{
    padding: 10px 5px;
    background-color: #333;
    color: white;
}
.slack_button,.sign_in{
    justify-self: center;
}
.top_bar{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-top: 20px;
}

.sign_in_button{
    border-radius: 2px;
    padding: 10px,5px;
    color: white;
    background-color:#da1151;
}

.GO{
    border-radius: 0 !important;
} */

/* ***********************MIDDLE BAR********************** */

/* .middle_bar{
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
} */

/* .down{
    vertical-align:  middle;
    color: rgb(149, 148, 148);

}
.carousel_bar{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/* img{
    height: 10%;
    width: 100%;
} */

/* .ad{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.ad>img{
    width: 80% !important;
} */ 

/* .popular_stores{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 0px 45px;
}

.popular_stores_items>img{
    width:100%;
    height: 80% !important;
} */


.sign_in_modal{
    display: grid;
    z-index: 100;
    right: 0px;
    border-radius: 2%;
    justify-content:flex-start ;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #333;
    color: white;
    position: absolute;
    top:10%
}
.modal_text{
    display: block;
    margin:20px 20px 10px 20px;
}

.sign_in_modal>button{
    display: block;
    margin: 20px;
}
